div#left {
	position: relative;
	top: -800px;
	left: 50px;
	width: 220px;
}

div#right {
	position: relative;
	top: -1100px;
	left: 680px;
	width: 200px;
}

/* link colors */
a {
	color: rgb(162, 35, 40);
}

a:visited {
	color: black;
}

div#left-retailer {
	position: relative;
	top: -1000px;
	left: 50px;
	width: 240px;
}

div#right-retailer {
	position: relative;
	top: -1500px;
	left: 680px;
	width: 200px;
}

ul.retailer-list li {
	list-style-type: none;
	padding-bottom: 0.25em;
}

/* Adjust the layout for smaller screens */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	div#left {
		top: -900px;
	}
	div#right {
		top: -1250px;
	}
	div#left-retailer {
		top: -1000px;
	}
	div#right-retailer {
		top: -1600px;
	}
}
