div#left {
	position: relative;
	top: -800px;
	left: 50px;
	width: 220px;
}

div#right {
	position: relative;
	top: -1100px;
	left: 680px;
	width: 200px;
}

/* Adjust the layout for smaller screens */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	div#left {
		top: -900px;
	}
	div#right {
		top: -1250px;
	}
}

/* link colors */
a {
	color: rgb(162, 35, 40);
}

a:visited {
	color: black;
}